@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #232d42;
    --color-text-base-sc: #232d42;
    --color-text-white: #ffff;
    --color-text-fill: #3a57e8;
    --color-text-gray: #8a92a6;
    --color-lightGray-fill: #adb5bd;
    --color-white-fill: #adb5bd;
    --color-fill: #3a57e8;
    --color-menu-over: #e0edff;
    --color-button-hover: #2e46ba;
    --color-border-gray: #f4f4f4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(243 244 246);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
